# Build results
bin/
obj/

# Rider / JetBrains
.idea/
*.sln.iml

# User-specific files
*.user
*.userosscache
*.sln.docstates

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Rider caches
.idea/*
!.idea/.gitignore
!.idea/codeStyles
!.idea/runConfigurations